@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    114 Oliver Street<br />
   Ashland City, TN  37015<br />
    <abbr title="Phone">P:</abbr>
    615.792.9765
</address>

<address>
    <strong>Support:</strong> <a href="mailto:JeffWhitman100@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:JeffWhitman100@gmail.com">Marketing@example.com</a>
</address>
